<p id="notice"><%= notice %></p>

<h1>Listing System Overviews</h1>

<table>
  <thead>
    <tr>
      <th>Lifetime generation</th>
      <th>Currently running</th>
      <th>Last connection to website</th>
      <th>Number of microconverters online</th>
      <th>Number of microconverters</th>
      <th>Current software version</th>
      <th>Software build date</th>
      <th>Database size</th>
      <th>Current timezone</th>
      <th>Envoy ip address</th>
      <th>Envoy mac address</th>
      <th>Envoy power line device</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @system_overviews.each do |system_overview| %>
      <tr>
        <td><%= system_overview.lifetime_generation %></td>
        <td><%= system_overview.currently_running %></td>
        <td><%= system_overview.last_connection_to_website %></td>
        <td><%= system_overview.number_of_microconverters_online %></td>
        <td><%= system_overview.number_of_microconverters %></td>
        <td><%= system_overview.current_software_version %></td>
        <td><%= system_overview.software_build_date %></td>
        <td><%= system_overview.database_size %></td>
        <td><%= system_overview.current_timezone %></td>
        <td><%= system_overview.envoy_ip_address %></td>
        <td><%= system_overview.envoy_mac_address %></td>
        <td><%= system_overview.envoy_power_line_device %></td>
        <td><%= link_to 'Show', system_overview %></td>
        <td><%= link_to 'Edit', edit_system_overview_path(system_overview) %></td>
        <td><%= link_to 'Destroy', system_overview, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System overview', new_system_overview_path %>
